* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.covervid-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: default;
}

.covervid-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  width: 1349px;
  z-index: 0;
}

@font-face {
  font-family: Lane;
  src: url(../fonts/Lane.ttf);
}

.covervid-wrapper h1{
  font-family: 'Lane' sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 120px;
  line-height: 1;
  color: #fff;
  margin: 242px 0;
  opacity: .6;
}

h1 span {
    display: block;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 230px;
    text-transform: uppercase;
    padding-left: 30px;
    margin-top: 15px;
}
@media (max-width: 1200px) {
  .covervid-wrapper h1{
    margin-top: 200px;
}
}

.masthead-arrow {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.7;
}

/* Main Content CSS */

.content {
  cursor: default;
}

.content h1:after{
  content: '';
  display: block;
  height: 5px;
  width: 3em;
  background: #1B1C30;
  margin-top: 18px;
  margin-bottom: 15px;
  margin-left: 0%;
}

.content .float-right:after{
  content: '';
  display: block;
  height: 5px;
  width: 3em;
  background: #1B1C30;
  margin-top: 18px;
  margin-bottom: 15px;
  margin-right: 0%;
}

.content h1 {
  font-family: 'Lane' sans-serif;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1;
  color: #1B1C30;
  margin-top: 50px;
}

.content p {
  font-family: 'Lane' sans-serif;
  color: #414141;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


.btn-download {
  margin: 10px auto 20px;
  padding: 10px 28px;
  text-transform: uppercase;
  font-family: 'Lane' sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #1B1C30;
  color: #fff;
  border: 1px solid #1B1C30;
  transition: all .2s;
}

.btn-download:hover {
  color: #1B1C30;
  background-color: #fff;
  border: 1px solid #1B1C30;
  transition: all .2s;
}

@media (min-width: 768px) {
  .content .container {
    width: 768px;
    border-bottom: 2px solid #ddd;
}

/* </> */

/* Footer */

.footer {
  margin: 20px auto;
  cursor: default;
}

.footer a{
  color: #1B1C30;
  text-decoration: none;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: -1px;
  transition: all .2s;
}

.footer a:hover{
  opacity: .8;
  transition: all .2s;
}

/* </> */